
body {font-family:"Poppins", serif ;
    font-weight: 500;
background-color: rgb(56, 55, 55);
flex:auto;
}

h1{
    text-align:start;
    padding-top: 1.7rem;
}

h2 {
    padding-right: 8rem;
    margin-top: 3rem;
}

a { 
    text-decoration: none;
    color: #D11E2b;
}
footer {
    text-align: center;
    color: aliceblue;
}
.container{
    justify-content: center;
    margin: 0 auto;
    padding: 4rem;
}

.intro {
    
    border: 1px solid black;
    border-radius: 5px;
   margin-top: 4rem;
    background-color: aliceblue;
    justify-content: center;
}

.goal, .description {
    font-family: "Playfair", serif;
    font-size: 1.4rem;
}

.goal{
    text-align: justify;
}

.discription {
    justify-content: center;
}
.btn {
    background-color: #D11E2b;
    margin-bottom: 8rem;
    margin-top: 2rem;
}
.links {
    background-color: black;
    color: white;
}

.logo {
    margin-left: 5px;
}

.logo-type {
    margin-left: 10px;
    font-size: 26px;
}

@media(min-width:414px) {
    .container {
    flex: auto;
    padding: 2rem;
    }
    h1 {
        font-size: x-large;
        padding-top: 3px;
        text-align: center;
    }
}





